
<div class="cp_modal02">
  <input type="checkbox" id="cp_modal" />
  <label for="cp_modal" class="cp_modal_btn">カレンダーに登録する</label>
  <label for="cp_modal" class="cp_modal_bg"></label>
  <div class="cp_modal_cont">
    <label for="cp_modal" class="cp_close"><i class="fa fa-times" aria-hidden="true"></i></label>
    <h2>カレンダーに登録する</h2>

    <article class="cp_content">
      <%= form_with url: calendars_path, method: :post, class: 'form', local: true do |f| %>
        <div class="form-input">
          <%= f.date_field :date, placeholder: "ブックマーク名", class: 'form-message' %>
          <%= f.submit '保存する', class: 'btn' %>
        </div>
      <% end %>
    </article>
  </div>
</div>