<div class="bookmarks">
      <h1><%= @nickname %>さんのブックマーク</h1>
    <div class="bookmark">
      <div class="bookmark_title">
        <h2>ブックマーク１</h2>
      </div>
      <div class="bookmark_route">
        <%# form withで記述 %>
      </div>
      <div class= "bookmark_btn">
        <%= link_to "削除する", root_path, class: 'btn'%>
      </div>
    </div>
</div>