<div class="bookmarks">
    <div class="bookmark">
      <h1>保存したブックマーク</h1>
      <div class="bookmark_title">
        <h2>ブックマーク１</h2>
        <%= link_to "カレンダーに追加する", root_path, class: 'btn'%>
      </div>
      <div class="bookmark_route">
        <h3>出発地ー目的地</h3>
      </div>
      <div class="bookmark_time">
        <h3>日付・時間</h3>
      </div>
        <%= link_to "編集する", root_path, class: 'btn'%>
        <%= link_to "削除する", root_path, class: 'btn'%>
      
    </div>
</div>