<div class="cp_modal02">
  <input type="checkbox" id="cp_modal" />
  <label for="cp_modal" class="cp_modal_btn">ブックマークに登録する</label>
  <label for="cp_modal" class="cp_modal_bg"></label>
<div class="cp_modal_cont">
  <label for="cp_modal" class="cp_close"><i class="fa fa-times" aria-hidden="true"></i></label>
    <header>
      <h2>ブックマークに登録する</h2>
    </header>

    <article class="cp_content">
      <p>ブックマーク名：<br>
      <%= form_with url: bookmarks_path(current_user.id), model: @bookmark, class: 'form', local: true do |f| %>
        <div class="form-input">
        <%= f.text_field :name, class: 'form-message' %>
    </article>
    
    <footer>
        <%= f.submit '保存する', class: 'btn' %>
      <% end %>
    </footer>
</div>