<div class="train">
  <div class="train_btn">
    <%= link_to "ブックマークに追加する", root_path, class: 'btn'%>
    <%= link_to "カレンダーに追加する", root_path, class: 'btn'%>
  </div>
  <div class="train_route">
  </div>
</div>