<!DOCTYPE html>
<html lang="ja">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
<script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
</head>
<body>
    <div class="container">
        <h1>各地のお天気</h1>
        <div class="city_btn">
            <input type="radio" id="cityRadio" name="cityRadio" value="1850147">東京
            <input type="radio" id="cityRadio" name="cityRadio" value="1850181">所沢
            <input type="radio" id="cityRadio" name="cityRadio" value="1851307">立川
            <input type="radio" id="cityRadio" name="cityRadio" value="6419747">千葉
            <button id="submit"><i class="fas fa-paper-plane"></i>  Click</button>
        </div> 
        <div class="weatherMain"> 
            <h2>現在の天気</h2>
            <div><span id = "weather" class="bold"></span></div>
            <div><span id = "weatherMark"  class="bold" ></span></div>
            <p id="icon"></p>
        </div>
        <div>最高気温 <span id = "temp_max"  class="bold"></span> ℃</div>
        <div>最低気温 <span id = "temp_min"  class="bold"></span> ℃</div>
        <div>湿度 <span id = "humidity" class="bold"></span> %</div>
        <div>雲 <span id = "cloud" class="bold"></span>%</div>
    </div>
    
    <script>
    $(document).ready(function() {
        $("#submit").click(function (e) {
            //JSONデータ取得 日本語で天気名を表示したいのでlang=jaとして日本語表記データを取得
            $.post("http://api.openweathermap.org/data/2.5/weather?id=" + $("input[id='cityRadio']:checked").val() + "&appid=cc05750ba50400f27ebabbcd6f4c4976&lang=ja&units=metric",  
                function(json){
                    $("#weather").html(json.weather[0].description);
                    $("#humidity").html(json.main.humidity);
                    $("#cloud").html(json.clouds.all);
                    //lang=jaにすることで華氏から摂氏に変換することなく摂氏表示となる。小数点だけ丸める処理をする
                    $("#temp_max").html(Math.round(json.main.temp_max));
                    $("#temp_min").html(Math.round(json.main.temp_min));

                    //天気に応じた天気アイコンを表示させる
                    switch (json.weather[0].main){
                    case 'Clouds':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/04d.png' >");
                    break;
                    case 'Snow':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/13d.png' >");
                    break;
                    case 'Rain':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/09d.png' >");
                    break;
                    case 'Clear':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/01d.png' >");
                    break;
                    case 'Fog':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/50d.png' >");
                    break;
                    case 'Mist':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/50n.png' >");
                    break;
                    case 'Haze':
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/50d.png' >");
                    break;
                    default:
                    $("#weatherMark").html("<img src='http://openweathermap.org/img/w/01n.png' >");
                }
             }
        );
    });
});

</script>
</body>