<div class="train_information">
  <%= render partial: "weather"%>
  <h1>運行情報</h1>
  <ul>
    <% @information_list.each do |info| %>
      <li><%= info %></li><br>
    <% end %>
  </ul>
  <%= "現在、首都圏の遅延情報はありません。" if @information_list.empty? %>
</div>

