

.simple-calendar {
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 30px;
  margin: 20px;
  border-top: solid 7px #5a5760;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);

  .day {
    width: 100% / 7;
  }

  .wday-0 {
    background-color: lightcoral;
  }
  /*
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  */
  .wday-6 {
    background-color: lightblue;
  }

  /*
  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}

  .calendar-heading{
    //color: white;
    //background-color: #2c7873;
  }
  */
  .table-striped{
    border: 3px solid #dddddd;
  }
  
  a:hover{
    color: lightcoral;
  }
}