/* リセットCSS */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');


* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  color: #4e4e4e;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  background-image: url(/assets/test.jpg);
  background-color: rgba(255,255,255,0.75);
  background-blend-mode:lighten;

}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {

  background-color: #f1f8fe;
  background-color: #2c7873;
  margin-bottom: 30px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1.5px white solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-right: 15px;
}
.nav__btn:hover{
  color: #fff;
  background: #6fb98f;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.nav__logo{
  color: white;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 15px;
}

/* devise用のCSS 適宜変更お願いします */
.page_title{
  display: flex;
  justify-content: center;
}

form input[type="submit"] {
  background-color: #66BB88;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.transition, a, form input[type="submit"] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
form input, form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
button, input {
  line-height: normal;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
input[type="submit" i] {
  appearance: push-button;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: -internal-light-dark(black, white);
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
user agent stylesheet
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

.container {
  margin: 20px 0;
  padding: 30px 25px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  width: 80%;
  border-radius: 10px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.contents_row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* アカウントの編集ページのCSSです */
.account-page__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-page__inner--right{
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 20px 25px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  width: 80%;
}

/* マイページのCSSです */
.mypage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_name{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.nickname{
  display: flex;
  align-items: center;
  margin: 5px 10px;
}

.nickname_title{
  background-color: #5e92c4;
  color: white;
  padding: 5px 10px;
}

.nickname_user{
  margin: 0 10px;
}

.email{
  display: flex;
  align-items: center;
  margin: 5px;
}

.email_title{
  background-color: #c76daa;
  color: white;
  padding: 5px 10px;
}

.email_user{
  margin: 0 10px;
}

.user_btn{
  display: flex;
}

/* 画面遷移用の共通ボタンのCSSです */
.btn:hover{
  color: white;
  background: #2c7873;
}

/* 入力フォームの共通ボタンのCSSです */
.form_btn{
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #2c7873;
  color: #2c7873;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

.form_btn:hover{
  color: white;
  background: #2c7873;
}

/* モーダル用共通ボタンのCSSです */
.modal_btn{
  margin: 5px;
  padding: 5px 5px;
  font-size: 14px;
  border: 2px solid #2c7873;
  color: #2c7873;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background: rgba(255,0,0,0.0);
}

.modal_btn:hover{
  color: white;
  background: #2c7873;
}

/* アラーム設定用ボタンのCSSです */
.alarm_btn{
  margin: 10px 5px;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #2c7873;
  color: #2c7873;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background-color: Transparent;
}

.alarm_btn:hover{
  color: white;
  background: #2c7873;
}

/* ブックマークページのCSSです */
.bookmarks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bookmark{
  overflow: scroll;
}

.user_bookmark{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 10px 20px;
  margin: 20px;
  border-top: solid 7px rgb(103, 197, 228);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}

.bookmark_title{
  display: flex;
  align-items: center;
}

.bookmark_edit{
  display: flex;
  justify-content: center;
}

.bookmark_register{
  display: flex;
  justify-content: center;
}

.bookmark_departure_str{
  display: flex;
  align-items: center;
}

.bookmark_departure_marker{
  color: white;
  background-color: #ff7800;
  padding: 2px 5px;
  border-radius: 5px;
}

/* ブックマーク編集用ページのCSSです */
.mybookmarks_edit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mybookmark_edit{
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 20px 25px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}

/* レスポンシブデザイン タブレット表示 */
@media (max-width: 1024px) {
  .nav__left{
    display: flex;
    align-items: center;
  }
  .nav__logo{
    font-size: 30px;
  }

  .train_information{
    font-size: 35px;
  }

  .mypage{
    font-size: 25px;
  }

  .user_name{
    font-size: 35px;
  }

  .bookmarks{
    font-size: 25px;
  }
  .nav__btn{
    font-size: 20px;
  }

  .nav__logout{
    font-size: 20px;
  }

  /* トップページ */
  .train_search_form{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  }

  .search_form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 60%;
  }

}

/* レスポンシブデザイン スマホ表示 */
@media (max-width: 599px) {
  /* ヘッダー */
  .header{
    margin-bottom: 15px;
    padding: 10px 0;
    width: 100%;
  }

  .nav__left{
    display: flex;
    align-items: center;
  }
  .nav__logo{
    font-size: 25px;
  }

  .train_information{
    font-size: 20px;
  }

  .mypage{
    font-size: 15px;
  }

  .user_name{
    font-size: 20px;
  }

  .bookmarks{
    font-size: 15px;
  }
  .nav__btn{
    display: flex;
    font-size: 10px;
  }

  .nav__logout{
    font-size: 10px;
  }

/* トップページ */
  .train_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .train_contents{
    display: flex;
    justify-content: center;
  }

  .train_search_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: large;
    font-weight: bold;
    padding: 10px 0;
    margin: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  }

  .search_form{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
    width: 90%;
  }

  .search-select-field{
    width: 100%;
    height: 80%;
    padding: 10px;
    margin: 10px 0;
  }

  .search-field{
    width: 100%;
    margin: 3px 0;
  }


/* 経路検索結果 */
  .search_result{
    font-size: 15px;
  }

  .train_index{
    font-size: 13px;
    margin: 5px;
  }

  .train_date_time{
    font-size: 18px;
  }
  
  .register_btn{
    height: 80px;
    padding: 0px;
    
  }

  .modal_btn{
    margin: 5px;
    padding: 5px 5px;
    font-size: 14px;
    border: 2px solid #2c7873;
    color: #2c7873;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
  }

  .train_route{
    width: 350px;
    margin-top: 10px;
  }
  
  .calendar_btn{
    width: 150px;
  }

  .alarm_btn{
    height: 60px;
    padding: 18px 5px;
  }

  .train_alarm{
    display: flex;
    flex-direction: column;
  }

  .timer{
    display: flex;
    justify-content: center;
  }


}

/* iPhone 6/7/8対応レスポンシブデザイン */
@media (max-width: 375px) {
  .alarm_btn{
    padding: 8px 15px;
    height: 60px;
  }

  .register_btn{
    margin: 0 10px;
  }

  .calendar_btn{
    width: 100px;
    height: 100px;
  }

  .departure_index{
    text-align: center;
    width: 60px;
  }

  .destination_index{
    text-align: center;
    width: 60px;
  }

  .transit_index{
    text-align: center;
    width: 70px;
  }

  .icon_btn{
    
  }

  /* ログイン・新規会員登録画面 */
}

/* GooglePixel等横幅が小さいスマホのレスポンシブデザイン */
@media (max-width: 360px) {
  .register_btn{
    margin: 0px;
  }
  .modal_btn{
    /*
    height: 60px;
    width: 100px;
    */
  }

  .alarm_btn{
    width: 100px;
    height: 60px;
  }

  .calendar_btn{
    width: 140px;
  }
}


/* トップページのCSSです */
.train_information{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.train_route_title{
  display: flex;
  justify-content: center;
}

.search_form{
  display: flex;
  margin: 5px;
}

/* カレンダー登録用画面CSS */
.register_calendar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark_calendar{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #2c7873;
  border-radius: 10px;
  width: 30%;
  margin: 10px 0;
}

.calendar_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar_date{
  margin: 10px;
}

/* モーダルCSS JS用 */
#modal-content {
	width: 80%;
	padding: 10px 20px ;
	border: 2px solid #aaa ;
	background: #fff ;
	position: fixed ;
	display: none ;
	z-index: 2 ;
}
  
#modal-overlay {
	z-index: 1 ;
	display: none ;
	position: fixed ;
	top: 0 ;
	left: 0 ;
	width: 100% ;
	height: 120% ;
	background-color: rgba( 0,0,0, 0.75 ) ;
}

.modal_header{
  display: flex;
  align-items: center;
}

.close_btn{
  font-size: 30px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 5px;
  right: 5px;
}

/* タイトルの共通CSSです */
.all_title{
  position: relative;
  display: inline-block;
  padding: 0 45px;
  font-size: 30px;
  font-weight: bold;
}

.all_title:before, .all_title:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #68b7a1;
}

.all_title:before{
  left: 0;
}

.all_title:after{
  right: 0;
}

/* 経路検索結果ページのCSSです */
.register_btn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.search_result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.train_index{
  display: flex;
  align-items: center;
  font-weight: bold;
}

.departure_index{
  background-color: #5e92c4;
  color: white;
  padding: 5px;
  margin: 5px;
}

.arrow{
  font-size: 30px;
  margin: 0 5px;
}

.destination_index{
  background-color: #c76daa;
  color: white;
  padding: 5px;
  margin: 5px;
}

.transits{
  display: flex;
  align-items: center;
}

.transit_index{
  background-color: teal;
  color: white;
  padding: 5px;
  margin: 5px 10px 5px 15px;
}

.train_date{
  display: flex;
  align-items: center;
}

.train_datetime{
  background-color: #ff7800;
  color: white;
  padding: 5px;
  margin: 5px 10px;
}

.train_route{
  display: flex;
  width: 300px;
  flex-direction: column;
  justify-content: space-around;
}

.route_departure{
  background-color: #5e92c4;
  justify-content: space-between;
  font-size: 20px;
  display: flex;
  margin: 0 0 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #324d66;
}

.route_destination{
  background-color: #5e92c4;
  justify-content: space-between;
  font-size: 20px;
  display: flex;
  margin: 5px 0 0 0;
  padding: 10px;
  border-radius: 5px ;
  border: 2px solid #324d66;
}

.train_line{
  height: 10vh;
  border-left: thick solid #999999;
  padding: 10px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.train_departure{
  color: white;
}

.destination{
  color: white;
}

.train_departuretime{
  color: white;
}

.train_destinationtime{
  color: white;
}

/* アラーム用のCSSです */
.route_search_title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.alarm_btn{
  display: block;
  flex-direction: column;
}

.train_alarm{
  display: flex;
}

.timer{
  display: flex;
  align-items: center;
}
