/* リセットCSS */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');


* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  background-color: #f0efea;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */

.header {

  background-color: #f1f8fe;
  background-color: #2c7873;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
  border: 1.5px white solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin-right: 15px;
}
.nav__btn:hover{
  color: #fff;
  background: #6fb98f;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: white;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.nav__logo{
  color: white;
  font-size: 25px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0 15px;
}

/* devise用のCSS 適宜変更お願いします */
.page_title{
  display: flex;
  justify-content: center;
}

form input[type="submit"] {
  background-color: #66BB88;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.transition, a, form input[type="submit"] {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
form input, form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}
button, input {
  line-height: normal;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
input[type="submit" i] {
  appearance: push-button;
  user-select: none;
  white-space: pre;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: -internal-light-dark(black, white);
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
user agent stylesheet
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textfield;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}
div.contents.row .new_user {
  font-family: "游ゴシック", "YuGothic";
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.row:before, .row:after {
  content: " ";
  display: table;
}


/* トップページのCSSです */


/* マイページのCSSです */
.mypage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_name{
  font-size: 30px;
}

.user_btn{
  display: flex;
}

/* 共通ボタンのCSSです */
.btn:hover{
  color: white;
  background: #2c7873;
}

/* ブックマークページのCSSです */
.bookmarks{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark{
  border: 2px solid #2c7873;
  border-radius: 10px;
}

.bookmark_title{
  display: flex;
}

.bookmark_route{
  display: flex;
  justify-content: center;
}

.bookmark_btn{
  display: flex;
  justify-content: center;
}

/* レスポンシブデザイン タブレット表示 */
@media (max-width: 1024px) {
  .nav__left{
    display: flex;
    align-items: center;
  }
  .nav__logo{
    font-size: 30px;
  }

  .train_information{
    font-size: 30px;
  }

  .mypage{
    font-size: 25px;
  }

  .user_name{
    font-size: 35px;
  }

  .bookmarks{
    font-size: 25px;
  }
  .nav__btn{
    font-size: 20px;
  }

  .nav__logout{
    font-size: 20px;
  }
}

/* レスポンシブデザイン スマホ表示 */
@media (max-width: 599px) {
  .nav__left{
    display: flex;
    align-items: center;
  }
  .nav__logo{
    font-size: 25px;
  }

  .train_information{
    font-size: 20px;
  }

  .mypage{
    font-size: 15px;
  }

  .user_name{
    font-size: 20px;
  }

  .bookmarks{
    font-size: 15px;
  }
  .nav__btn{
    display: flex;
    font-size: 10px;
  }

  .nav__logout{
    font-size: 10px;
  }
}

/* ブックマーク登録用モーダルのCSS */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  *, *::after, *::before {
  box-sizing: inherit;
  }
  *, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  }
  
  .cp_modal02:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: -1;
  }
  .cp_modal02 .cp_content p {
  margin: 0;
  line-height: 1.5;
  text-indent: 1em;
  }
  .cp_modal02 p.citation {
  text-align: right;
  }
  .cp_modal02 p.citation::before {
  content: '\2500'
  }
  .cp_modal02 p:not(.citation) {
  margin-bottom: 1.5rem;
  }
  .cp_modal02 a {
  text-decoration: none;
  }
  .cp_modal02 label {
  cursor: pointer;
  }
  .cp_modal02 .cp_modal_btn {
  margin: 10px;
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #2c7873;
  color: #2c7873;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  text-align: center;
  transition: box-shadow 250ms ease;
  color: #2c7873;
  }
  .cp_modal02 .cp_modal_btn::before {
  position: absolute;
  top:50%;
  left: 20%;
  font-family: 'FontAwesome';
  font-size: 1em;
  line-height: 0;
  display: inline-block;
  width: 4em;
  
  }
  .cp_modal02 .cp_modal_btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .cp_modal02 .cp_modal_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  visibility: hidden;
  transition: background-color 250ms linear;
  }
  .cp_modal02 .cp_modal_cont {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  height: 50%;
  overflow-y: scroll;
  margin-top: -18%;
  margin-left: -25%;
  padding: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: scale(0);
  transition: transform 250ms ease;
  visibility: hidden;
  z-index: 20;
  }
  .cp_modal02 .cp_modal_cont .cp_close {
  position: relative;
  float: right;
  font-size: 18px;
  transition: transform 500ms ease;
  z-index: 11;
  }
  .cp_modal02 .cp_modal_cont .cp_close:hover {
  color: #da3c41;
  transform: rotate(180deg);
  }
  .cp_modal02 .cp_modal_cont header {
  position: relative;
  display: block;
  border-bottom: 1px solid #00bcd4;
  margin-bottom: 1.5em;
  }
  .cp_modal02 .cp_modal_cont header h2 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 28px;
  }
  .cp_modal02 .cp_modal_cont article {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.75;
  }
  .cp_modal02 .cp_modal_cont footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0;
  padding: 10px 0 0;
  }
  .cp_modal02 .cp_modal_cont footer .cp_btn {
  position: relative;
  padding: 10px 30px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  }
  .cp_modal02 .cp_modal_cont footer .cp_btn:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(88, 24, 26, 0.3);
  transition: width 250ms ease;
  z-index: 0;
  }
  .cp_modal02 .cp_modal_cont footer .cp_btn:hover:before {
  width: 100%;
  }
  .cp_modal02 .cp_modal_cont footer .cp_btn.cp_cl {
  background-color: #da3c41;
  }
  .cp_modal02 #cp_modal {
  display: none;
  }
  .cp_modal02 #cp_modal:checked ~ .cp_modal_bg {
  visibility: visible;
  background-color: #000000;
  opacity: 0.7;
  transition: background-color 250ms linear;
  }
  .cp_modal02 #cp_modal:checked ~ .cp_modal_cont {
  visibility: visible;
  transform: scale(1);
  transition: transform 250ms ease;
  z-index: 111;
  }
  @media only screen and (max-width: 480px) {
  .cp_modal02 .cp_modal_cont{
  top: 30%;
  left: 30%;
  width: 90%;
  }
  }