
<%# modal-openボタンに反応してmodal-contentがJSにより起動する %>
<div id="modal-content" class="modal">

  <!-- モーダルウィンドウのコンテンツ開始 -->
  <div class="modal_header">
    <%= schedule.bookmark.name %>

    <button id="modal-close" class="close_btn">&times;</button>
  </div>

</div>